body {
    background-color: blueviolet;
  }

#pic1{

    width:100px;
    height:100px;
    border-radius: 10px;


}

#name{

    font-family: Verdana;
    font-size: 20px;
}

#email{

    font-family: Serif;
    font-size: 30px;
    
}

#tel{

    font-family: Arial;
    font-size: 50px;
}

#AMERICA{

    font-family: sans-serif;
    font-size: 50px;
    color: aqua;
}

#t1{

    border: 1px solid;
}
#t1, td{

    border: 1px solid;
    border-collapse: collapse;
}